.request {
    width: 140px;
    height: 180px;
    box-shadow: 0px 0px 20px rgba(255,255,0,0.5);
    border: 1px solid rgba(255,255,127,0.25);
    cursor: default;
}

.request:hover {
    box-shadow: 0px 0px 20px rgba(255,255,0,0.75);
    border: 1px solid rgba(255,255,127,0.75);
}

.request .data {
    position: absolute;
    top: 20px;
    right: 20px;
    #font-size: 20px;
    color: rgba(255,255,127,0.75);
}

.request .content {
    position: absolute;
    top: 40px;
    width: 100%;
    #font-size: 70px;
    text-align: center;
    color: rgba(255,255,255,0.75);
    font-weight: bold;

    -webkit-filter: drop-shadow(0px 0px 20px rgba(255,255,0,0.95));
    -moz-filter: drop-shadow(0px 0px 20px rgba(255,255,0,0.95));
    -o-filter: drop-shadow(0px 0px 20px rgba(255,255,0,0.95));
    -ms-filter: drop-shadow(0px 0px 20px rgba(255,255,0,0.95));
    filter: drop-shadow(0px 0px 20px rgba(255,255,0,0.95));
}

.request .content .image-network-icon-preview {
    max-width: 100px;
    max-height: 100px;
    min-width: 10px;
    min-height: 10px;
}

.request .content .icon {
    max-width: 64px;
    max-height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.request .content .network-type-script {
    content: url(Images/resourceJSIcon.png);
}

.request .content .network-type-document  {
    content: url(Images/resourceDocumentIcon.png);
}

.request .content .network-type-stylesheet  {
    content: url(Images/resourceCSSIcon.png);
}

.request .content .network-type-other  {
    content: url(Images/resourcePlainIcon.png)
}



.request .details {
    position: absolute;
    top: 125px;
    width: 100%;
    #font-size: 18px;
    text-align: center;
    color: rgba(255,255,127,0.75);
}

#network-item-details-close-button.visible {
    display: block;
}

#network-item-details-close-button {
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url(Images/closeButtons.png);
    background-position: 0 0;
    background-color: transparent;
    border: 0 none transparent;
    top: 4px;
    left: 5px;
    z-index: 10;
    display: none;
}

#network-item-details-close-button:hover {
    background-position: 14px 0;
}

#network-item-details-close-button:active {
    background-position: 28px 0;
}


.three-view-tabbed-pane {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 75%;
    width: 33%;
    position: absolute;
}

.three-network-item-view {
    display: none;
    position: absolute;
    background-color: rgba(253, 248, 248, 0.73);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.three-network-item-view.visible {
    display: -webkit-flex;
}

.three-network-item-view .tabbed-pane-header {
    height: 31px;
    padding-left: 25px;
    white-space: nowrap;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
    border-bottom: 1px solid rgb(163, 163, 163);
}

.three-network-item-view .scope-bar li {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
